*{
margin:0;
padding:0;

}
body{
    background-color: rgb(0, 38, 255);
    font-size: 18px;
    font-weight: 100;

    /*cor de fundo*/
    color: #f8faf8;
    /*cor da letra*/

}
.principal{
    background-image:url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;

}
.conteiner{
 height:100vh;
 display: grid;
 grid-template-columns: 40% 60%;

}
.conteiner_botao{
 background-color: black;
 border-radius: 5px;
 padding: 1em;
color: rgb(17, 0, 255);
display: block ;  
margin-bottom: 1em;
}
.botao_secundario{
 background-color:transparent;
 border: 5px solid rgb(8, 8, 8);

}
.conteiner_imagem{
   margin: 8em 0 8em 0;

}
.conteiner_caixa{
 margin: 1em 2em;



}

