*{
    margin: 0%;
    padding: 0%;
}

.cabecalho{
    background-color:rgb(8, 0, 0);
    color: rgb(252, 7, 7);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 20px;
}
.cabecalhoImagem{
    width: 20%;
}

body{
    background-color: rgb(10, 19, 145);
}
li{
   color:rgb(240, 6, 6); 
}

.cabecalholistaitem{
      display: inline-block ;
    margin: 0 20px;
    padding: 10px 0;  
}

li{
   color: rgb(255, 0, 34);
}
 .sobreImagem{ 
   width: 20%
 }
 .sobre{
    background-image:linear-gradient(#010213 , #0a1afa);
    color: #ffffff;
    display: flex;
    justify-content:left ;
    align-items: center;
    padding: 45px 0 ;

}
.sobreconteudo{
    width: 55% ;
}

.membrosimagem{
    width: 120px ;

}
