
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

:root{
--cor-de-fundo:#000000;
--texto1:#6fff57;
--texto2:#ffffff;
--botao-ativo:#000000;
--botao-inativo:rgba(58,55,94,05);
--texto-fundo:rgba(58,55,94,03);

}

body{
background-color: var(--cor-de-fundo);
color: var(--texto1);
font-family: "Metal Mania", system-ui;

}
.botao{
border-radius: 20%;
text-align: center;
margin: 50px;
padding: 20px;
font-size: 15px;
}
.conteudo-principal{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 100%;
margin:0 auto ;

}
.titulo-principal{
text-align: left;
width: 100%;
font-size: 50px;

}
.botao{
font-family: "lobster",sans-serif;
background-color: #000000;
display: flex;
color: rgb(43, 255, 0);
justify-content: center;
padding: 1em;
font-size: 18px;
align-items: center;
width: 70%;

}
.botoes{
display: flex;

}
.botao:first-child{
border-radius
: 20px  000;

}
.botao:last-child{
border-radius:0 15px 00;

}
.botao.ativo{
background: var(--botao-ativo);
border-bottom: 4px solid rgb(9, 255, 0);

}
.aba-texto{

 background-color: rgb(0, 0, 0) var(--texto-fundo) ;

}
.aba-conteudo.ativo{
 display: block;

}
.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
font-size: 0px;
text-align: center;
}
.aba-conteudo-titulo-secundario{
color:rgb(0, 255, 13) var(--texto1-fundo);
text-transform: uppercase;

}






